
<section class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-8 mb64 mt64">
            <div class="">
                <h2 class="display-3">S3 backing up</h2>
                <h4 class="text-default">Yet another backup tool, but with sexy graphs</h4>
                <p class="text-default mt16">Version: v<b>14.0</b>.1.0.2</p>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <p>
                <img src="https://itpp.dev/images/favicon.png"/>
                <br/>Tested and maintained by
                <br/><b>IT Projects Labs</b>
                <br/>Assitance: <a href="mailto:help@itpp.dev">help@itpp.dev</a>
            </p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">

            <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
                <i class="fa fa-hand-o-right"></i><b> Key features: </b>
                <ul class="list-unstyled">

                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Convenience: Smart rotation, Schedule, Graphs
                    </li>

                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Security: Backup encryption
                    </li>

                    <li>
                        <i class="fa fa-check-square-o text-primary"></i>
                        Affordable price: attractive <a href="https://aws.amazon.com/s3/pricing">tariffs</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Smart rotation vs. Normal rotation</h2>
            <h3 class="oe_slogan">With the same amount of space,<br/>We keep a more interesting data set</h3>
        </div>
            <div class="oe_span12 text-center">
            <p class="oe_mt32">
            Normal: last 10 backups for 10 days <br/>
            Smart: last 7 backups for 7 days & 3 backups for last 3 weeks
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="rotation.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Time frames</h2>
            <h3 class="oe_slogan">Set a schedule according to your needs</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
                Morning, before office hours, afternoon, after office hours<br/>
                Every two hours<br/>
                At night only<br/>
                On sunday only<br/>
                etc.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="timeframes.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Monitoring</h2>
            <h3 class="oe_slogan">Look out for changes than deal with the consequences</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
                Backup size did not adequately increased<br/>
                Current backup configuration did not failed<br/>
                etc.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="monitoring.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Backup encryption</h2>
            <h3 class="oe_slogan">Keep your data safe and sleep well</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <p class="oe_mt32">
                Specify a password to protect data in backup files produced by the backup job and take a control over your personal information
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="encryption.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Download</h2>
            <h3 class="oe_slogan">Export and download your data in one click</h3>
        </div>
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
                If Backup is encrypted you can extract it using <b>gpg utility</b>.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="download.png"/>
        </div>
    </div>
</section>




